{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <br><br><br><br><br><br><br>
    <div class="row">
        <div class="col-6 offset-3">

            <div class="card bg-light">
                <div class="card-body">
                    
                    <h1 class="text-center">Modifier son mot de passe</h1>
                    <br>
                    {{ include('profile/_form.html.twig', {'button_label': 'Enregistrer'}) }}
                    <br>
                    <a href="/profile">Retour</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
