{{ form_start(form) }}
    {{ form_widget(form) }}
    <p><i>Mettre 1 pour la réponse attendu, sinon 0 <br><strong>Une réponse par question</strong></i><br/></p>
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
